<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Resume parsing </title>
  </head>

  <body style="background-color: rgb(256,256,256)">
  <header>
      <div class="wrapper">
  
          <h1>Resume parsing <span class="orange">.</span></h1>
          <p style='font-size:23px'>Add a link</p>
          
      </div>
  </header>
  
  <form action="/resume_parsing" method='POST'> <!-- Send the data to the web server to be processed-->  
    
      <div>
          
          <label class="label-grand" for='question'> Resume link:</label><br>
          <textarea id='question' name='question' cols="50" rows="2"></textarea>
          
      <div>
      <p> <input type ="submit" value="resume_parsing"/> </p>
  
  </form>      
      
  </body>
</html>

